<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Michael Mosers' home page" />
<meta name="keywords" content="life,code,software,developmenty" />
<meta name="author" content="Michael Moser" />
<link rel="stylesheet" type="text/css" href="/cstuff/css/default.css" />
<link rel="stylesheet" type="text/css" href="/cstuff/css/pretty_code.css" />

<title>Department of petty hacks and arcane knowledge</title>
</head>

<body>
<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>


		<img src="/cstuff/images/title-pic.png"/>
		
		<div class="slogan">
				<a href="/cstuff/blog.html" class="pink">OnSoftware</a> :|: 
				<a href="/cstuff/projects.html" class="green">Projects</a>  :|: 
				<a href="/cstuff/ramble.html" class="orange">Ramble Ramble</a> :|:
				<a href="/cstuff/docs.html" class="pink">Documentation</a> :|:
				<a href="http://github.com/MoserMichael/cstuff" class="green">Sources</a>
		</div>

</div>

<div id="content">  
  {{ content }}
</div>

<div id="footer">

    Subscribe to <a href="atom.xml">Newsfeed with Atom</a> ||
    <a href="https://github.com/MoserMichael/cstuff">My stuff</a> ||
    Me on <a href="http://www.facebook.com/people/Michael-Moser/601652235">Facebook</a> ||
	      <a href="http://il.linkedin.com/pub/michael-moser/1/11b/322">LinkedIn</a> 

<p>Michael Moser &copy; 2011 

</div>

</div>

</body>
</html>

