<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Michael Mosers' home page" />
<meta name="keywords" content="life,code,software,developmenty" />
<meta name="author" content="Michael Moser" />
<link rel="stylesheet" type="text/css" href="/cstuff/css/default.css" />
<link rel="stylesheet" type="text/css" href="/cstuff/css/pretty_code.css" />

<title>Department of petty hacks and arcane knowledge</title>
</head>

<body>
<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>


		<img src="/cstuff/images/title-pic.png"/>
		
		<div class="slogan">
				<a href="/cstuff/pooh-lan.html" class="green">Pooh-Lan</a>  :|: 
				<a href="/cstuff/projects.html" class="green">Projects</a>  :|: 
				<a href="/cstuff/onsoft.html" class="pink">OnSoftware</a> :|: 
				<a href="/cstuff/ramble.html" class="orange">Ramble Ramble</a> :|:
				<a href="/cstuff/blog.html" class="orange">Bloggg</a> :|:
				<a href="/cstuff/docs.html" class="pink">Documentation</a> :|:
				<a href="http://github.com/MoserMichael/cstuff" class="green">Sources</a>
		</div>

</div>

<div id="content">  
  {{ content }}
</div>

<div id="footer">

    Subscribe to <a href="atom.xml">Newsfeed with Atom</a> ||
    <a href="https://github.com/MoserMichael/cstuff">My stuff</a> ||
    <a href="https://news.ycombinator.com/threads?id=MichaelMoser123">HN</a> ||
    <a href="https://twitter.com/MichaelMoser20">twitter</a> ||
	      <a href="http://il.linkedin.com/pub/michael-moser/1/11b/322">LinkedIn</a> 


<p>Michael Moser &copy; 2011  - this is my personal page, I am speaking just for myself.

</div>

</div>

<!--
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39389441-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
//-->

</body>
</html>

