---
layout: default
---
<div id="post">
{{ content }}
</div>

<div id="disqus">

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'mmoser'; // required: replace example with your forum shortname

   // The following are highly recommended additional parameters. Remove the slashes in front to use.
   // var disqus_identifier = 'unique_dynamic_id_1234';
   // var disqus_url = 'http://example.com/permalink-to-page.html';

   /* * * DON'T EDIT BELOW THIS LINE * * */
   (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
   })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>



</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39389441-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--
<div id="related">
  <h3>Possibly Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
//-->

<!-- This is for code colorization which doesn't seem to work very well in IE... i guess I don't care very much -->

<!--
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shCore.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushRuby.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushPhp.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushXml.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushCss.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushBash.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushJScript.js"></script>
<script language="javascript">
dp.SyntaxHighlighter.ClipboardSwf = 'http://communicatopia.s3.amazonaws.com/js/clipboard.swf';
//name, showGutter, showControls, collapseAll, firstLine , showColumns
dp.SyntaxHighlighter.HighlightAll('code',false, false,false,1,false);
</script>
//-->
